@import "tailwindcss";

@font-face {
  font-family: 'Jersey 15';
  src: url('/fonts/Jersey15-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

html,
body {
  background-color: #142B70;
  margin: 0;
  padding: 0;
  font-family: 'Jersey 15', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
